.wrapper {
  min-height: 100vh;
  background: linear-gradient(135deg, #6d56dc 30%, #E8A5C8 100%);

  padding: 2rem;
  font-family: "Inter", sans-serif;
  color: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
}
